{% extends "base.html" %}
{% block title %}My messages{% endblock %}
{% block head %}My messages{% endblock %}
{% block content %}
{% if messages.count > 0 %}
{% for message in messages%}
<div>
  <a href="/posts/answer/{{message.id}}/">{{ message.title }}</a></h1>
  {% for client in clients %}
  {% if message.sender == client.user %}
    {% if client.usertype == '1' %}
    <p>Backer: {{ client.firstname }} {{ client.lastname }} Project: {{ message.project.projectname }}</p>
    {% else %}
    <p>Entrepreneur: {{ client.firstname }} {{ client.lastname }} Project: {{ message.project.projectname }}</p>
    {% endif %}
  {% endif %}
  {% endfor %}
  <p>Message: {{ message.message |truncatewords:"10"}}</p>
</div>
{% endfor %}
{% else %}
<p>You don't have any messages</p>
{% endif %}
<a href="/posts/home/">Return</a>
{% endblock %}
